// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.spinner-center{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.card-style{
  background: white;
  position: relative;
  text-align: center;
  display: block;
  width: 60%;
  height: 37%;
  margin-top:15%;
  margin-left: 20%;
}

.card-title{
  position: relative;
  align-content: center!important;
  justify-content: center!important;
  display: flex!important;
  color: lightseagreen;
  font-family: Roboto;
  font-size: large;
  font-weight: bolder;
}

.card-description
{
  position: relative;
  overflow: hidden;
  width: 100%;
  color: black;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: small;
  font-weight: normal;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 12px;
}

.tabbar, .tabs-ios, .tabs-md , .tabs-wp{
  .tab-button-icon {
    background-repeat:no-repeat;
    background-position:center;
    height:24px;
    width:24px;
    background-size:contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    &:before {
      display:none;
    }
  }
}

.tabs-ios
{
  a[aria-selected=false] {
    .tab-button-icon[ng-reflect-name=home1], .tab-button-icon[aria-label="home1 outline"] {
      background-image: url(../assets/imgs/house.png);
    }
    .tab-button-icon[ng-reflect-name=checkup], .tab-button-icon[aria-label="checkup outline"] {
      background-image: url(../assets/imgs/checkup.png);
    }
    .tab-button-icon[ng-reflect-name=doctor], .tab-button-icon[aria-label="doctor outline"] {
      background-image: url(../assets/imgs/doctor_icon.png);
    }
    .tab-button-icon[ng-reflect-name=faq], .tab-button-icon[aria-label="faq outline"] {
      background-image: url(../assets/imgs/help.png);
    }
  }

  a[aria-selected=true] {
    //führ eventuellen text
    //span {
    //color: #f00; //whatever colour you want to use for the text
    //}
    .tab-button-icon[ng-reflect-name=home1], .tab-button-icon[aria-label=home1] {
      background-image: url(../assets/imgs/house.png);
    }
    .tab-button-icon[ng-reflect-name=checkup], .tab-button-icon[aria-label=checkup] {
      background-image: url(../assets/imgs/checkup.png);
    }
    .tab-button-icon[ng-reflect-name=doctor], .tab-button-icon[aria-label=doctor] {
      background-image: url(../assets/imgs/doctor_icon.png);
    }
    .tab-button-icon[ng-reflect-name=faq], .tab-button-icon[aria-label=faq] {
      background-image: url(../assets/imgs/help.png);
    }
  }
}

.tabs-md {
  a[aria-selected=false] {
    .tab-button-icon[ng-reflect-name=home1], .tab-button-icon[aria-label="home1 outline"] {
      background-image: url(../assets/imgs/house.png);
    }
    .tab-button-icon[ng-reflect-name=checkup], .tab-button-icon[aria-label="checkup outline"] {
      background-image: url(../assets/imgs/checkup.png);
    }
    .tab-button-icon[ng-reflect-name=doctor], .tab-button-icon[aria-label="doctor outline"] {
      background-image: url(../assets/imgs/doctor_icon.png);
    }
    .tab-button-icon[ng-reflect-name=faq], .tab-button-icon[aria-label="faq outline"] {
      background-image: url(../assets/imgs/help.png);
    }
  }

  a[aria-selected=true] {
    //führ eventuellen text
    //span {
    //color: #f00; //whatever colour you want to use for the text
    //}
    .tab-button-icon[ng-reflect-name=home1], .tab-button-icon[aria-label=home1] {
      background-image: url(../assets/imgs/house.png);
    }
    .tab-button-icon[ng-reflect-name=checkup], .tab-button-icon[aria-label=checkup] {
      background-image: url(../assets/imgs/checkup.png);
    }
    .tab-button-icon[ng-reflect-name=doctor], .tab-button-icon[aria-label=doctor] {
      background-image: url(../assets/imgs/doctor_icon.png);
    }
    .tab-button-icon[ng-reflect-name=faq], .tab-button-icon[aria-label=faq] {
      background-image: url(../assets/imgs/help.png);
    }
  }
}

.tabs-wp {
  a[aria-selected=false] {
    .tab-button-icon[ng-reflect-name=home1], .tab-button-icon[aria-label="home1 outline"] {
      background-image: url(../assets/imgs/house.png);
    }
    .tab-button-icon[ng-reflect-name=checkup], .tab-button-icon[aria-label="checkup outline"] {
      background-image: url(../assets/imgs/checkup.png);
    }
    .tab-button-icon[ng-reflect-name=doctor], .tab-button-icon[aria-label="doctor outline"] {
      background-image: url(../assets/imgs/doctor_icon.png);
    }
    .tab-button-icon[ng-reflect-name=faq], .tab-button-icon[aria-label="faq outline"] {
      background-image: url(../assets/imgs/help.png);
    }
  }

  a[aria-selected=true] {
    //führ eventuellen text
    //span {
    //color: #f00; //whatever colour you want to use for the text
    //}
    .tab-button-icon[ng-reflect-name=home1], .tab-button-icon[aria-label=home1] {
      background-image: url(../assets/imgs/house.png);
    }
    .tab-button-icon[ng-reflect-name=checkup], .tab-button-icon[aria-label=checkup] {
      background-image: url(../assets/imgs/checkup.png);
    }
    .tab-button-icon[ng-reflect-name=doctor], .tab-button-icon[aria-label=doctor] {
      background-image: url(../assets/imgs/doctor_icon.png);
    }
    .tab-button-icon[ng-reflect-name=faq], .tab-button-icon[aria-label=faq] {
      background-image: url(../assets/imgs/help.png);
    }
  }
}



