page-bodypart {

}

.body-title{
  position: relative;
  align-content: center!important;
  justify-content: center!important;
  display: flex!important;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  word-break: break-all;
  line-height: 20px;
}
