page-bodypart {

}

.body-title{
  position: relative;
  align-content: center!important;
  justify-content: center!important;
  display: flex!important;
  font-family: Roboto;
  font-size: small;
  font-weight: bold;
  color: black;
}
