page-tabs {

}
.tabs-ios .tab-button[aria-selected=true]{
  background: #C3C3C3;
  color: black;
  font-weight: bolder;
}

.tabs-ios .tab-button[aria-selected=false]{
  color: #576574;
  font-weight: bolder;
}
