page-faq {
   .ion-ios-arrow-forward:before{
    color: black;
  }
  ion-label.label.label-ios{
    color: black;
    font-size:small;
    font-weight: bold;

  }

  .card-description{
    font-family: "Helvetica Neue";
    font-size: small;
    font-weight: lighter;
  }

}
