.home-card{
  background: white;
  position: relative;
  text-align: center;
  display: block;
  width: 60%;
  height: 41%;
  margin-top:30%;
  margin-left: 20%;
}

.apptitle{
  position: relative;
  align-content: center!important;
  justify-content: center!important;
  display: flex!important;
  color: #FF0000;
  font-family: Roboto;
  font-size: xx-large;
  font-weight: lighter;
}

