page-symptoms {

}

.sym{
  position: relative;
  align-content: left!important;
  justify-content: left!important;
  display: flex!important;
  color: black;
  font-family: Roboto;
  font-size: medium;
}

