page-gender {

}
.row{
  position: relative;
  margin-top: 40%;
}

.gender-title{
  text-align: left;
  font-family: Roboto;
  font-size: large;
  font-weight: bolder;
  color: #141414;
  margin-left: 32%;
}
