page-results {

}
.main-title{
  position: relative;
  align-content: left!important;
  justify-content: left!important;
  display: flex!important;
  color: darkred;
  font-family: Roboto;
  font-size: medium;
  font-weight: bolder;
  padding-left: 12px;
}


.title{
  position: relative;
  align-content: left!important;
  justify-content: left!important;
  display: flex!important;
  color: black;
  font-family: Roboto;
  font-size: large;
  font-weight: bold;
  margin-left: 20px ;
}
